body {
  margin: 0 10% 0;
}

.container {
  width: 100%;
  /* border: 1px black solid; */
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 5rem 0; */
}
.container .box,
div img {
  width: 200px;
  height: 250px;
  position: absolute;
  border-radius: 10%;
}

.container:hover > div:nth-of-type(3) {
  transform: translate(15px) rotate(20deg);
  transition: all 1s;
}
.container:hover > div:nth-of-type(2) {
  transform: translate(-15px) rotate(-20deg);
  transition: all 1s;
}

.container:hover > div:nth-of-type(4) {
  transform: translate(35px) rotate(30deg);
  transition: all 1s;
}
.container:hover > div:nth-of-type(1) {
  transform: translate(-35px) rotate(-30deg);
  transition: all 1s;
}

.container div:nth-of-type(1) {
  background-color: #264653;
}

.container div:nth-child(2) {
  background-color: #2a9d8f;
}

.container div:nth-child(3) {
  background-color: #e9c46a;
}
.container div:nth-child(4) {
  background-color: #f4a261;
}
